<script>
    $(document).ready(function () {
        {% if site.google_scholar_stats_use_cdn %}
        var gsDataBaseUrl = 'https://cdn.jsdelivr.net/gh/{{ site.repository }}@'
        {% else %}
        var gsDataBaseUrl = 'https://raw.githubusercontent.com/{{ site.repository }}/'
        {% endif %}
        var gsDataUrl = gsDataBaseUrl + "main/gs_data.json"
        $.getJSON(gsDataUrl, function (data) {
            var totalCitation = data['citedby']
            var totalCitationEle = document.getElementById('total_cit')
            if (totalCitationEle) {
                totalCitationEle.innerHTML = totalCitation;
            }
            var citationEles = document.getElementsByClassName('show_paper_citations')
            var normalizeTitle = function (title) {
                return (title || '').trim().toLowerCase();
            }
            Array.prototype.forEach.call(citationEles, element => {
                var paperId = element.getAttribute('data')
                var paperTitle = normalizeTitle(element.getAttribute('data-title'))
                var numCitations = null

                if (paperId && data['publications'] && data['publications'][paperId]) {
                    numCitations = data['publications'][paperId]['num_citations']
                } else if (paperTitle && data['publications_by_title'] && data['publications_by_title'][paperTitle]) {
                    numCitations = data['publications_by_title'][paperTitle]['num_citations']
                }

                if (numCitations !== null && numCitations !== undefined) {
                    element.innerHTML = 'Citations: ' + numCitations;
                }
            });
        });
    })
</script>
